<!doctype html>
<html>
    <head>
      <title>Friends Against Humanity</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
      <link href="css/bootflat.css" rel="stylesheet" media="screen">
      <link href="css/bootflat-extensions.css" rel="stylesheet" media="screen">
      <link href="css/bootflat-square.css" rel="stylesheet" media="screen">
      <link href="css/style.css" rel="stylesheet" media="screen">
    </head>
    <body>
      <div class="main-container" ng-app ng-controller="CardController">
        <div class="sidebar">
          <ul class="game-session">
            <li style="text-align: center" ng-click="addGame()"><i class="fa fa-plus"></i></li>
            <li ng-repeat="game in gameSessions track by $index" ng-click="selectGame(game)" title="{{ game.name }}">
              <span class="game-session-players">{{ game.playerCount }}/{{ game.playerCapacity }}</span>
              <span class="game-session-name">{{ game.name }}</span>
            </li>
          </ul>
        </div>
        <div class="hand">
          <div class="game-controls">
            <div class="btn-group">
              <button class="btn btn-success" ng-click="submitSelection()">Submit</button>
              <button class="btn btn-inverse" ng-click="clearSelection()">Clear</button>
            </div>
            <div class="btn-group">
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Scores <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Hello</a></li>
                <li><a href="#">Hello2</a></li>
              </ul>
            </div>
          </div>
          <div class="cards">
            <div class="card card-selectable"
                 ng-repeat="card in game.hand track by $index"
                 ng-class="isCardSelected(card.id)"
                 ng-click="selectCard(card.id)"
                 title="{{ card.text }}">{{ card.text }}</div>
          </div>
        </div>
        <div class="round">
          <div class="card card-black card-fix" title="{{ game.currentBlackCard }}">{{ game.currentBlackCard.text }}</div>
        </div>
      </div>
      <script src="js/jquery-1.10.1.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/cards.js"></script>
      <script src="js/humanity.js"></script>
    </body>
</html>
