<!doctype html>
<html>
    <head>
      <title>Friends Against Humanity</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
      <link href="css/bootflat.css" rel="stylesheet" media="screen">
      <link href="css/bootflat-extensions.css" rel="stylesheet" media="screen">
      <link href="css/bootflat-square.css" rel="stylesheet" media="screen">
      <link href="css/style.css" rel="stylesheet" media="screen">
    </head>
    <body ng-app="HumanityApp" ng-controller="CardController">
      <dialog show="showSettingsDialog">
        <h1>Settings</h1>
        <form ng-submit="hideSettings(); makePlayer(settingsForm.name);">
          <input type="text" name="name" ng-model="settingsForm.name" placeholder="Name" />
          <button type="submit" class="btn btn-primary" title="Change Name">New Player</button>
        </form>
      </dialog>
      <dialog show="showNewGameDialog">
        <h1>New Game</h1>
        <form ng-submit="makeGame(newGameForm.name, newGameForm.aiPlayers); hideNewGame();">
          <label>Game Name: <input type="text" ng-model="newGameForm.name" placeholder="Name" style="width: 400px" /></label><br />
          <label>AI Players: <input type="number" ng-model="newGameForm.aiPlayers" placeholder="Number of AI" /></label><br />
          <button type="submit" class="btn btn-primary" title="Change Name">New Game</button>
        </form>
      </dialog>
      <div class="main-container">
        <div class="sidebar">
          <ul class="game-session">
            <li style="text-align: center" ng-click="showSettings()"><i class="fa fa-gear"></i></li>
            <li style="text-align: center" ng-click="showNewGame()"><i class="fa fa-plus"></i></li>
            <li ng-repeat="game in games track by $index" ng-click="selectGame(game)" title="{{ game.name }}">
              <span class="game-session-players">{{ game.PlayerCount || 0 }}/{{ game.PlayerCapacity || "&infin;" }}</span>
              <span class="game-session-name">{{ game.Name }}</span>
            </li>
          </ul>
        </div>
        <div class="hand">
          <div class="no-game-cover" ng-show="game == undefined"><div>Select Game</div></div>
          <div class="game-controls" ng-show="game">
            <button class="btn btn-success" ng-click="submitSelection()" ng-show="!isGameJudge()">Submit</button>
            <button class="btn btn-primary" ng-click="judgeCard()" ng-show="isGameJudge()">Choose Winner</button>
            <button class="btn btn-inverse" ng-click="clearSelection()">Clear Selection</button>
            <div class="btn-group">
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Scores <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="player in game.players track by $index"><a href="#">{{ player }} - {{ game.scores[$index] }}</a></li>
              </ul>
            </div>
            <button class="btn btn-danger" ng-show="game.turnOrder == 1" ng-click="endGame()">End Game</button>
            <span>Hello {{ playerName }}.</span>
            <span ng-show="isGameJudge()">You are the Judge this round.</span>
            <span ng-show="game && game.inPlay.length == 0 && !isGameJudge()"><ng-pluralize count="game.cardsNeeded" when="{'one': 'Select a card', 'other': 'Select {} cards.'}"></ng-pluralize></span>
          </div>
          <div class="cards">
            <div class="card card-selectable"
                 ng-if="game.inPlay.length == 0 && !isGameJudge()"
                 ng-repeat="card in game.hand track by $index"
                 ng-class="isCardSelected(card)"
                 ng-click="selectCard(card)"
                 ng-bind-html="cards[card - 1].text | unsafe"
                 title="{{ cards[card - 1].text | unsafe }}"></div>
            <div class="card card-black card-selectable"
                 ng-if="game.inPlay.length > 0"
                 ng-repeat="cardStack in game.inPlay track by $index"
                 ng-class="isCardSelected(cardStack)"
                 ng-click="selectCard(cardStack)"
                 ng-bind-html="fillBlanks(game.currentBlackCard, cardStack)"></div>
          </div>
        </div>
        <div class="round">
          <div class="card card-black" title="{{ cards[game.currentBlackCard - 1].text | unsafe }}" ng-bind-html="cards[game.currentBlackCard - 1].text | unsafe"></div>
          <div style="clear: both; margin: 8px" ng-show="game.winningCards.length > 0">Previous Round Winner:</div>
          <div class="card card-black" ng-if="game.winningCards.length > 0" ng-bind-html="fillBlanks(game.previousBlackCard, game.winningCards)"></div>
        </div>
      </div>
      <script src="js/jquery-1.10.1.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/cards.js"></script>
      <script src="js/humanity.js"></script>
    </body>
</html>
